# Auto detect text files and perform LF normalization
* text=auto

# Track shellcode stubs with Git LFS
x86-x64-pe-crypter-main/x86-x64-pe-crypter/srdi_builder/*.bin filter=lfs diff=lfs merge=lfs -text
